.header {
  font-family: "SuisseIntl";
  opacity: 0;
  

  &__wrap {
    padding-top: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media(max-width: $md-1){
      &--closed {
        .header__box {
          transform: translateX(100%);
          transition: transform 0.4s ease;
        }
  
        .header__button {
  
          .header__button-text {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -3%;
            color: $white;
          }
        }
      }
  
      &--opened {
        .header__box {
          transform: translateX(0%);
          transition: transform 0.5s ease;
        }
  
        .header__button {
          position: relative;
          z-index: 500;
          // margin-bottom: 5px;
          width: 34px;
          height: 34px;
          background-color: inherit;
  
          &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 34px;
            height: 34px;
            background-image: url(../img/cross.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          }
  
          .header__button-text {
            display: none;
          }
        }
      }
    }

    @media(min-width: $sx) {
      padding-top: 24px;
      // padding-bottom: 80px;
    }
  }

  &__link {
    display: block;
    font-size: 16px;
    line-height: 18px;
    color: $white;

    @media(min-width: $sx) {
      font-size: 20px;
      line-height: 22px;
    }

    &--green {
      color: $green-common;

      @media(min-width: $md){
        position: relative;
        order: 1;
        padding-left: 30px;

        &::before {
          position: absolute;
          content: '';
          top: 50%;
          left: 0;
          width: 20px;
          height: 15px;
          transform: translateY(-50%);
          background-image: url(../img/telegram.svg);
          background-repeat: no-repeat;
        }
      }
    }

    // &--logo {
     
    // }
  }

  &__img {
    width: 35px;
    height: 35px;

    @media(min-width: $md){
      width: 130px;
    }
  }

  &__button {
    @media(min-width: $md){
      display: none;
    }
  }

  &__box {
    @media (max-width: $md-1) {
      position: fixed;
      inset: 0;
      top: 61px;
      z-index: 110;
    }
  }

}