.icon {

    &__wrap {
        transform: scaleY(0);

        transform-style: preserve-3d;
        perspective: 1000px;
    }

    &__item {
        transform-box: fill-box;
        transform-origin: center;
    }
}