.main {
    font-family: "SuisseIntl";
    min-height: 1824px;
    position: relative;

    &__title {
        margin: 0;
        padding: 60px 0;

        position: relative;


        @media(min-width: $sx) {
            padding-top: 50px;
            padding-bottom: 180px;
        }

    }

    &__svg {
        &--title {
            width: 100%;
            aspect-ratio: 7/1;
            opacity: 0.3;

            transform-box: fill-box;
            transform-origin: center;
        }
    }

    &__promo {
        font-size: 24px;
        line-height: 30px;
        color: $white;
        margin-bottom: 38px;

        @media(min-width: $sx) {
            font-size: 36px;
            line-height: 44px;
        }

        @media(min-width: $md) {
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 24px;
        }
    }

    &__string {
        display: block;
        transform: scaleY(0);
        transform-origin: center bottom;
    }

    &__wrapper {
        opacity: 0;
        transform: translateY(50px);
    }

    &__link {
        @include link-reset();
        display: flex;
        align-items: center;
        color: $white;


    }

    &__text {
        margin-right: 12px;
        font-size: 18px;
        line-height: 20px;

        @media(min-width: $sx) {
            font-size: 22px;
            line-height: 26px;
        }

        @media(min-width: $md) {
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__line {
        display: block;
        margin-top: 8px;
        height: 2px;
        background-color: #fff;
        width: 200px;

        @media(min-width: $sx) {
            width: 223px;
        }
    }
}