@font-face {
	font-family: "SuisseIntl";
	font-display: swap;
	src: url("../fonts/SuisseIntl-Medium.woff2") format("woff2"), url("../fonts/SuisseIntl-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
